<nav class="navbar">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact">CV & Connect</a></li>
  </ul>
</nav>
<div class="containers">
  <section id="home">
    <div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://res.cloudinary.com/abandolon/image/upload/c_scale,q_100,w_1500/v1554183909/Japan-Kyoto-2017-93.jpg')";>
      <div id="about">
        <h1>Hello and Welcome! My name is Anthony</h1>
        <p>Please follow this path and learn more about me.</p>
      </div>
      <div id="interest">
        <h1>Who Am I? </h1>
        <p>Junior Product Manager & Junior Fullstack Developer with 10 + years in Travel & Tourism Management. Energetic, professional self-starter with proven success developing multi-generational teams up to 20 people. Having a passion to identify opportunities for personal growth and develop individualized plans for improvement. In-depth knowledge of business operations, including budgeting, client services and performance analysis.</p>
      </div>
    <p>Should you have any further questions or would like to discuss a possible opportunity with your organization, you can reach me by <a href="#contact">clicking here</a>.</p>
    </div>
  </section>
  <section id="skills">

  </section>
  <section id="projects">

  </section>
  <section id="contact">

  </section>
</div>
