<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your interest in what I can offer, <%= @user.name %></h1>
    <p>I'm excited to look at <%= @user.company %> for further details and available positions.</p>
    <p>
      To download my CV, please
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
