<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thank you for your interest in what I can offer, <%= @user.name.capitalize %></h3>
    <p>I'm excited to look at <%= @user.company.capitalize %> for further details and available positions.</p>
    <p>
      To download my CV, please <a href="https://anthony.bandolon.me/download/ab_technical_cv.pdf" target="_blank" download>click here</a>
    </p>
    <p>If you would like to speak on the phone about a possible opportunity, you may reach me at +49 171 121 4751</p>
    <p>
      I hope you have a wonderful day and look forward to speaking with you soon.
    </p>
    <p>
      Best Regards,
    </p>
    <p>
      Anthony Bandolon
    </p>
  </body>
</html>
