.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 100vh;
  h1 {
    margin: 15px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    margin: 15px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  p {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    padding: 0 100px;
  }
  a {
    color: white;
  }
}
